@model IEnumerable<HRMgmtWeb.Models.Menu>

@foreach (var menuItem in Model)
{
    bool hasChildren = menuItem.Children?.Any() == true;
    string url = string.IsNullOrEmpty(menuItem.Url) ? "#" : menuItem.Url;
    string linkClasses = hasChildren ? "nav-link collapsed" : "nav-link";
    string itemClasses = hasChildren ? "nav-item has-treeview" : "nav-item";
    string arrowIcon = hasChildren ? "<i class='right fas fa-angle-left'></i>" : "";

    <li class="@itemClasses">
        <a href="@url" class="@linkClasses" @(hasChildren ? "data-bs-toggle=collapse data-bs-target=#menu-" + menuItem.Id : "")>
            <i class="nav-icon @menuItem.IconClass"></i>
            <p>
                @menuItem.Title
                @Html.Raw(arrowIcon)
            </p>
        </a>

        @if (hasChildren)
        {
            <div class="collapse" id="menu-@menuItem.Id">
                <ul class="nav nav-treeview">
                    @foreach (var child in menuItem.Children.OrderBy(c => c.Order))
                    {
                        <li class="nav-item">
                            <a href="@child.Url" class="nav-link">
                                <i class="nav-icon @child.IconClass"></i>
                                <p>@child.Title</p>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        }
    </li>
}